 .profile-avatar img {
    border-radius: 50%;
    border: 1px solid #e7e7e2;
    padding:10px;
    margin:20px;    
    height:210px;
    width:210px;
}

table{
	width:97%;
}

.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 255px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}