 .profile-avatar img {
    border-radius: 50%;
    border: 1px solid #e7e7e2;
    padding:10px;
    margin:20px;    
    height:210px;
    width:210px;
}


.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.toppad
{
  margin-top:20px;
}

h1{
    font-size: x-large;
}