 .profile-avatar img {
    border-radius: 50%;
    border: 1px solid #e7e7e2;
    padding:10px;
    margin:20px;    
    height:210px;
    width:210px;
}

/*table{
	width:97%;
}

.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 255px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}*/

tbody tr {
width: 103%;
display: inline-table;
}

table{
 height:300px; 
}
tbody{
  overflow-y: scroll;
  !height: 200px;
  width: 100%;
  position: absolute;
}

.col-lg-6,.col-lg-5{
  margin-right: 50px;
  padding-left: 0px;
  padding-right: 0px;
}

.table-responsive{
  margin-right: 0px;
  margin-top: 100px;
  margin-bottom: 50px;
}